extends layout

block content
  h1 About Me
  p I am a student of Computer Programming at Georgian College. I am a passionate learner and a zealeous and inquisitive programmer. I love to learn about new things and create new ideas.