extends layout

block content
  h1 Projects
  p These are the links of some of my projects that I created during this course.
  .table
    ul#horizontal-list
        li
            a(href='http://aws.computerstudi.es/~gcc200395887/JS/Assignment4/') BlackJack
        li
            a(href='http://aws.computerstudi.es/~gcc200395887/JS/Assignment3/') Scramble
        li    
            a(href='http://aws.computerstudi.es/~gcc200395887/JS/Lab9/') Pacman
        li    
            a(href='http://aws.computerstudi.es/~gcc200395887/JS/Lab12/') Weather
        li    
            a(href='http://aws.computerstudi.es/~gcc200395887/JS/Lab11/') Airport Finder
        li    
            a(href='http://aws.computerstudi.es/~gc900395887/Assignment1/Songs.php') Playlist